<div ng-controller="mainCtrl">
  <div class="row">
    <h4>Sentiment Analysis</h4>
    <p>Select a Dataset to use for training.  Then, enter a text and the NaiveBayes classifier will do the prediction for you.  It's a simple classifier based on Bag of Words.  It currently does not do n-gram analysis or stemming.
    You can also upload new Datasets from the datasets tab on the menu.</p>

    <form ng-submit="submit()">
      <label>Select a Training Dataset
        <select ng-model="selected_ds" ngRequired ng-options="ds.name for ds in datasets"></select> Accuracy: {{selected_ds.test_score | number:2}}
      </label>
      <label>Text
        <textarea class="u-full-width" placeholder="Enter a movie review to classify" ng-model="new_review" ngRequired></textarea>
      </label>
      <input class="button button-primary" type="submit" value="Predict Sentiment">
    </form>
  </div>
  <div class="row">
    <table class="u-full-width">
      <thead>
        <tr>
          <th>Dataset</th>
          <th>Text</th>
          <th>Prediction</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="result in pred_results">
          <td>{{result.dataset}}</td>
          <td>{{result.text}}</td>
          <td>{{result.predicted_cat}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>